<template>
  <div>
    <app-bar app color="primary" dark></app-bar>
    <CountriesMap :get-feature-style="getFeatureStyle" :countries="countries">
      <template v-slot:countryHoverPopup="slotProps">
        <div>
          <b>{{ slotProps.country && slotProps.country.properties.name }}</b>
        </div>
        <div>
          Plants:
          {{
            slotProps.country &&
              countries[slotProps.country.properties.iso_a3].plantCount
          }}
        </div>
      </template>
    </CountriesMap>
    <div class="legend" v-if="countries">
      <v-card>
        <v-card-text>
          <div>Species count:</div>
          <div
            :key="`class_${idx}`"
            style="display: flex; align-items: center"
            v-for="(item, idx) in classes"
          >
            <div
              :style="
                `width:1rem;height:1rem;background-color:${item.color};margin-right: .5rem;`
              "
            ></div>
            <div>{{ item.min }} - {{ item.max }}</div>
          </div>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>
<script>
import "leaflet/dist/leaflet.css";
import Country from "./../../services/countryInfo";
import AppBar from "./../app-bar";
import CountriesMap from "./home/map";

export default {
  components: {
    AppBar,
    CountriesMap
  },
  data() {
    return {
      countries: {},
      classes: []
    };
  },
  methods: {
    getFeatureStyle(feature) {
      if (Object.keys(this.countries).includes(feature.properties.iso_a3)) {
        return {
          stroke: false,
          fillColor: this.countries[feature.properties.iso_a3].color,
          fillOpacity: 0.9
        };
      }
      return {
        stroke: false,
        fillColor: "white",
        fillOpacity: 0.1
      };
    }
  },
  async mounted() {
    let result = await Country.getAllDiversity();
    let list = {};
    for (let i = 0; i < result.rows.length; i++) {
      list[result.rows[i].id] = result.rows[i];
    }
    this.countries = list;
    this.classes = result.numbers.classes;
  }
};
</script>
<style lang="scss" scoped>
.legend {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 800;
}
</style>
