<template>
  <div>
    <app-bar app color="primary" dark :search-enabled="true"></app-bar>
    <v-card
      v-show="hoverCountry"
      class="country-hover-popup"
      :style="
        `transform: translate3d(${hoverCountryX}px, ${hoverCountryY}px, 0);`
      "
    >
      <v-card-text v-show="hoverCountry">
        <div>{{ hoverCountry && hoverCountry.properties.name }}</div>
      </v-card-text>
    </v-card>
    <div ref="mapel" class="map"></div>
    <plant-legend
      v-if="plant"
      :plant="plant"
      @selectcountry="setAndFocusCountry"
      @close="resetPlant"
      @mark-countries="markCountries"
      @unmark-countries="unmarkCountries"
    ></plant-legend>
    <country-legend
      :country="country"
      @focusCountry="focusCountry"
      @close="resetCountry"
      v-if="country"
    ></country-legend>
    <family-legend
      :family="family"
      @close="resetFamily"
      @selectcountry="setAndFocusCountry"
      v-if="family"
    ></family-legend>
  </div>
</template>
<script>
import "leaflet/dist/leaflet.css";
import { map, geoJson, tileLayer } from "leaflet";
// import statesData from "../../../public/geo/custom.geo";
import { mapActions, mapGetters } from "vuex";
import CountryLegend from "./home/country-legend";
import FamilyLegend from "./home/family-legend";
import PlantLegend from "./home/plant-legend";
import AppBar from "./../app-bar";
import MapData from "../../services/map-data";

let mapFeatures = {};

export default {
  components: {
    PlantLegend,
    CountryLegend,
    FamilyLegend,
    AppBar
  },
  data() {
    return {
      markedCountry: [],
      hoverCountry: null,
      hoverCountryX: 0,
      hoverCountryY: 0,
      statesData: null
    };
  },
  computed: {
    ...mapGetters({
      plant: "plant/plant",
      country: "plant/country",
      family: "plant/family"
    }),
    highlightedCountries() {
      if (!this.plant && !this.country && !this.family) {
        return [];
      }
      if (this.country) {
        return [this.country.id];
      }
      let list = [];
      if (this.family) {
        if (this.familyInfo) {
          for (let country of this.familyInfo.Countries) {
            list.push(country.id);
          }
        } else {
          return [];
        }
      } else {
        for (let item of this.plant) {
          for (let country of item.Countries) {
            if (!list.includes(country.id)) {
              list.push(country.id);
            }
          }
        }
      }
      return list;
    }
  },
  methods: {
    ...mapActions({
      clearPlant: "plant/clearPlant",
      setPlant: "plant/setPlant",
      setCountry: "plant/setCountry",
      clearCountry: "plant/clearCountry",
      clearFamily: "plant/clearFamily",
      getFamilyInfo: "plant/getFamilyInfo"
    }),
    markCountries({ countries }) {
      this.markedCountry = countries;
      this.redrawCountriesLayer();
    },
    unmarkCountries() {
      this.markedCountry = [];
      this.redrawCountriesLayer();
    },
    resetCountry() {
      this.clearCountry();
    },
    setAndFocusCountry(country) {
      this.setCountry(country);
      this.clearFamily();
      this.clearPlant();
      this.redrawCountriesLayer();
      this.focusCountry(country.id);
    },
    resetFamily() {
      this.clearFamily();
    },
    resetPlant() {
      this.clearPlant();
    },
    focusCountry(country) {
      // console.log("fit to", mapFeatures[country.id].getBounds());
      this.map.fitBounds(mapFeatures[country.id].getBounds(), {
        animate: true
      });
    },
    getFeatureStyle(feature) {
      if (this.markedCountry.includes(feature.properties.iso_a3)) {
        return {
          stroke: true,
          fillColor: "red",
          fillOpacity: 0.3
        };
      }
      if (this.highlightedCountries.includes(feature.properties.iso_a3)) {
        return {
          stroke: true,
          fillColor: "yellow",
          fillOpacity: 0.3
        };
      }
      return {
        stroke: false,
        fillColor: "white",
        fillOpacity: 0.1
      };
    },
    zoomToFeature(e, feature) {
      // console.log(e.target.getBounds());
      // this.map.fitBounds(e.target.getBounds());
      this.clearPlant();
      this.clearFamily();
      this.setCountry({
        id: feature.properties.iso_a3,
        name: feature.properties.name
      });
    },
    highlightFeature(e, feature) {
      const layer = e.target;
      this.hoverCountry = feature;
      if (!this.highlightedCountries.includes(feature.properties.iso_a3)) {
        layer.setStyle({
          weight: 1,
          stroke: true,
          color: "#666",
          fillColor: "#fff6a2",
          fillOpacity: 0.3
        });
      }
      // layer.openPopup();
    },
    resetHighlight(e, feature) {
      this.hoverCountry = null;
      const layer = e.target;
      this.statesLayer.resetStyle(layer);
      // layer.closePopup();
    },
    onEachFeature(feature, layer) {
      // console.log(this.$refs);
      mapFeatures[feature.properties.iso_a3] = layer;
      // let popup = layer
      //   //.bindPopup(feature.properties.name, { closeButton: false })
      //   .bindPopup(this.$refs.countryPopup.$el, {
      //     closeButton: false,
      //     autoPan: false,
      //     className: "country-hover-popup"
      //   })
      //   .getPopup();
      layer.on({
        mouseover: e => this.highlightFeature(e, feature),
        mouseout: e => this.resetHighlight(e, feature),
        mousemove: e => {
          this.hoverCountryX = e.containerPoint.x + 10;
          this.hoverCountryY = e.containerPoint.y + 10;
        },
        click: e => this.zoomToFeature(e, feature)
      });
    },
    redrawCountriesLayer() {
      if (this.statesLayer) {
        this.statesLayer.remove();
      }
      this.statesLayer = geoJson(this.statesData, {
        style: this.getFeatureStyle,
        onEachFeature: this.onEachFeature
      }).addTo(this.map);
      if (this.country) {
        this.focusCountry(this.country);
      } else {
        this.map.fitBounds(this.statesLayer.getBounds());
      }
    }
  },
  async mounted() {
    this.statesData = await MapData.get();
    this.map = map(this.$refs.mapel, {}).setView([51.505, -0.09], 8);
    tileLayer(
      "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
      {
        maxZoom: 18,
        attribution:
          'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
          '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: "mapbox.light",
        noWrap: true
      }
    ).addTo(this.map);
    this.redrawCountriesLayer();
  },
  destroyed() {
    mapFeatures = {};
  },
  watch: {
    plant(newPlant, oldPlant) {
      this.redrawCountriesLayer();
    },
    country(newVal, oldVa) {
      this.redrawCountriesLayer();
    },
    async family(newVal) {
      if (newVal) {
        this.familyInfo = await this.getFamilyInfo(newVal.id);
      } else {
        this.familyInfo = null;
      }
      this.redrawCountriesLayer();
    }
  }
};
</script>
<style lang="scss">
.country-hover-popup {
  z-index: 900;
  position: absolute;
}
</style>
<style lang="scss" scoped>
.map {
  position: relative;
  width: 100vw;
  height: calc(100vh - 64px);
}
</style>
