<template>
  <v-app-bar app color="primary" dark>
    <div>Tree distribution demo</div>
    <v-spacer></v-spacer>
    <div class="search-bar" v-if="searchEnabled">
      <v-overflow-btn
        title="Search by..."
        dense
        solo-inverted
        hide-details
        style="min-width:200px;margin-right: 1rem;"
        :items="searchTypes"
        v-model="searchType"
      ></v-overflow-btn>
      <v-text-field
        ref="searchfield"
        id="searchfield"
        class="search-field"
        v-model="search"
        full-width
        outlined
        :placeholder="
          searchType === 'Taxon' ? 'Type plant name...' : 'Type family name...'
        "
        style="min-width: 450px;"
        dense
        hide-details
        autofocus
        @focus="onSearchFocused"
        @blur="onSearchFocusLost"
      >
      </v-text-field>
      <v-btn icon title="Clear" @click="resetSearch">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-menu
        :z-index="999"
        activator="#searchfield"
        :value="resultsVisible && search && search.length > 0"
        :close-on-content-click="false"
        :open-on-click="false"
        :close-on-click="false"
        offset-y
      >
        <v-card>
          <v-card-text>
            <div
              style="display: flex; align-items: center;"
              v-if="searchInProgress"
            >
              <v-progress-circular
                indeterminate
                style="margin-right: 1rem;"
              ></v-progress-circular>
              <div>Searching...</div>
            </div>
            <v-list
              v-if="!searchInProgress && items && items.length > 0"
              :max-height="48 * 10"
              class="results-list"
              ref="resultsList"
            >
              <template v-if="searchType === 'Taxon'">
                <plant-item
                  :search="search"
                  :item="item"
                  :key="`item_${item.id}`"
                  @select="onItemSelected"
                  v-for="item in items"
                ></plant-item>
              </template>
              <template v-if="searchType === 'Family'">
                <family-item
                  :search="search"
                  :item="item"
                  :key="`item_${item.id}`"
                  @select="onItemSelected"
                  v-for="item in items"
                ></family-item>
              </template>
              <v-list-item v-if="loadingMore">
                <v-list-item-title>Loading 10 more...</v-list-item-title>
              </v-list-item>
            </v-list>
            <div
              v-if="!searchInProgress && count"
              style="display: flex; justify-content: space-between;"
            >
              <div>
                {{ `Found ${count} items - ${items.length} displayed` }}
              </div>
              &nbsp;
              <v-btn v-if="count > 10" small outlined @click="loadMore"
                >Load {{ count - 10 > 10 ? "10" : count - 10 }} more...
              </v-btn>
              <v-btn text small @click="hideResults">close</v-btn>
            </div>
            <div
              v-if="!searchInProgress && !count"
              style="display: flex; justify-content: space-between; align-items: center; width: 100%;"
            >
              <div>No records found</div>
              <v-btn text @click="resetSearch">close</v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-menu>
    </div>
  </v-app-bar>
</template>
<script>
import search from "../services/search";
import family from "../services/family";
import PlantItem from "./app-bar/plant-item";
import FamilyItem from "./app-bar/family-item";
import { mapActions, mapGetters } from "vuex";

let debouncer = null;

export default {
  components: {
    PlantItem,
    FamilyItem
  },
  props: {
    searchEnabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      search: "",
      resultsVisible: false,
      searchInProgress: false,
      items: null,
      count: null,
      page: 1,
      limit: 10,
      loadingMore: false,
      searchType: "Taxon"
    };
  },
  computed: {
    ...mapGetters({ country: "plant/country", family: "plant/family" }),
    searchTypes() {
      return ["Taxon", "Family"];
    }
  },
  methods: {
    ...mapActions({
      setPlant: "plant/setPlant",
      clearPlant: "plant/clearPlant",
      clearCountry: "plant/clearCountry",
      setFamily: "plant/setFamily",
      clearFamily: "plant/clearFamily"
    }),
    onSearchFocused(e) {
      this.resultsVisible = true;
    },
    resetSearch() {
      this.search = "";
    },
    onSearchFocusLost(e) {
      //this.resultsVisible = false;
    },
    hideResults() {
      this.resultsVisible = false;
    },
    onItemSelected(item) {
      if (this.searchType === "Taxon") {
        this.setPlant(item);
        this.clearFamily();
        this.clearCountry();
        this.search = item[item.length - 1].taxon;
      } else {
        this.clearPlant();
        this.clearCountry();
        this.setFamily(item);
        this.search = item.name;
      }
      this.resultsVisible = false;
    },
    async loadMore() {
      this.$refs.resultsList.$el.scrollTop = this.$refs.resultsList.$el.scrollHeight;
      this.page++;
      let result;
      if (this.searchType === "Taxon") {
        result = await search.search(this.search, this.page, this.limit);
      } else {
        result = await family.search(this.search, this.page, this.limit);
      }
      this.items = this.items.concat(result.rows);
      setTimeout(() => {
        this.$refs.resultsList.$el.scrollTop = this.$refs.resultsList.$el.scrollHeight;
      }, 10);
    }
  },
  destroyed() {
    if (debouncer) {
      clearTimeout(debouncer);
    }
  },
  watch: {
    async search(newValue, oldValue) {
      if (debouncer) {
        clearTimeout(debouncer);
      }
      if (newValue === "") {
        this.items = [];
        this.resultsVisible = false;
        this.clearPlant();
        return;
      }
      if (newValue !== oldValue) {
        this.resultsVisible = true;
        this.searchInProgress = true;
        debouncer = setTimeout(async () => {
          this.page = 1;
          let result;
          if (this.searchType === "Taxon") {
            result = await search.search(this.search, this.page, this.limit);
          } else {
            result = await family.search(this.search, this.page, this.limit);
          }
          this.items = result.rows;
          this.count = result.count;
          this.searchInProgress = false;
        }, 500);
      }
    },
    country(newVal) {
      if (newVal) {
        this.resetSearch();
      }
    },
    family(newVal) {
      if (newVal) {
        this.resetSearch();
      }
    },
    searchType() {
      this.resetSearch();
    }
  }
};
</script>
<style lang="scss" scoped>
.results-list {
  overflow: auto;
}

.search-bar {
  .v-input {
    color: #ababab !important;
  }

  .v-input >>> .v-input__control {
    color: #bcbcbb !important;
  }
}

.search-bar {
  display: flex;
  align-items: center;

  & >>> .v-input {
    color: #ababab !important;

    .v-input__control {
      color: #bcbcbb !important;
    }
  }

  /*.v-input--is-focused {*/
  /*  label {*/
  /*    color: lightgray;*/
  /*  }*/
  /*}*/

  .v-label {
    color: #ababab !important;
  }

  input {
    &.search-field {
      caret-color: black;
    }
  }
}
</style>
