<template>
  <v-app>
    <v-navigation-drawer app permanent>
      <v-list-item :to="{ name: 'home' }">
        <v-list-item-content>
          <v-list-item-title>
            Search
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item :to="{ name: 'diversity' }">
        <v-list-item-content>
          <v-list-item-title>
            Diversity map
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-navigation-drawer>
    <v-content>
      <v-container fluid class="no-gutter">
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<style lang="scss" scoped>
.no-gutter {
  padding: 0;
}
</style>
