<template>
  <div class="legend" v-if="country">
    <v-card>
      <v-card-text>
        <div style="display: flex; flex-direction: column;">
          <div>
            Selected country: <b>{{ country.name }}</b>
          </div>
          <div v-if="!countryInfo">
            Loading country info...
          </div>
          <div
            v-if="countryInfo"
            style="display: flex; flex-direction: column;"
          >
            <div>
              Plants: <b>{{ countryInfo.plantCount }}</b>
            </div>
            <div>
              Families: <b>{{ countryInfo.familiesCount }}</b>
            </div>
            <div
              style="display: flex; width: 100%; justify-content: space-between;margin-top: 1rem;"
            >
              <v-btn small @click="focusCountry">center on map</v-btn>
              <v-btn small text @click="close">close</v-btn>
            </div>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      countryInfo: null
    };
  },
  methods: {
    ...mapActions({ getCountryInfo: "plant/getCountryInfo" }),
    focusCountry() {
      this.$emit("focusCountry", this.country);
    },
    close() {
      this.$emit("close");
    }
  },
  props: {
    country: {
      type: Object,
      default: () => null
    }
  },
  async mounted() {
    let info = await this.getCountryInfo(this.country.id);
    this.countryInfo = info;
  },
  watch: {
    async country(newCountry) {
      if (!newCountry) {
        this.countryInfo = null;
        return;
      }
      let info = await this.getCountryInfo(newCountry.id);
      this.countryInfo = info;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "legend";
</style>
