<template>
  <div class="legend" v-if="family">
    <v-card>
      <v-card-text>
        <div style="display: flex; flex-direction: column;">
          <div>
            Selected family: <b>{{ family.name }}</b>
          </div>
          <div v-if="!familyInfo">
            Loading family info...
          </div>
          <div v-if="familyInfo" style="display: flex; flex-direction: column;">
            <div>
              Plants: <b>{{ familyInfo.plantsCount }}</b>
            </div>
            <div>Countries ({{ familyInfo.countriesCount }}):</div>
            <div class="countries-list">
              <span
                :key="`cntry_${country.id}`"
                v-for="country in familyInfo.Countries"
                ><v-btn
                  x-small
                  outlined
                  @click="() => selectCountry(country)"
                  >{{ country.name }}</v-btn
                ></span
              >
            </div>
            <div
              style="display: flex; width: 100%; justify-content: space-between;margin-top: 1rem;"
            >
              <v-btn small text @click="close">close</v-btn>
            </div>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      familyInfo: null
    };
  },
  methods: {
    ...mapActions({ getFamilyInfo: "plant/getFamilyInfo" }),
    close() {
      this.$emit("close");
    },
    selectCountry(country) {
      this.$emit("selectcountry", country);
    }
  },
  props: {
    family: {
      type: Object,
      default: () => null
    }
  },
  async mounted() {
    let info = await this.getFamilyInfo(this.family.id);
    this.familyInfo = info;
  },
  watch: {
    async family(newVal) {
      if (!newVal) {
        this.familyInfo = null;
        return;
      }
      let info = await this.getFamilyInfo(newVal.id);
      this.familyInfo = info;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "legend";
</style>
