.legend {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 800;

  //.items {
  //  .item {
  //    &.odd {
  //      //background-color: #f3f3f3;
  //    }
  //  }
  //}

  .countries-list {
    max-width: 300px;
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;

    span {
      margin-right: 0.5rem;

      /*&:after {*/
      /*  content: ",";*/
      /*}*/

      /*&:last-child:after {*/
      /*  content: "";*/
      /*}*/
    }
  }
}
