<template>
  <div style="position: relative;">
    <div ref="mapel" class="map"></div>
    <v-card
      v-show="hoverCountry"
      class="country-hover-popup"
      :style="
        `transform: translate3d(${hoverCountryX}px, ${hoverCountryY}px, 0);`
      "
    >
      <v-card-text v-show="hoverCountry">
        <slot name="countryHoverPopup" v-bind:country="hoverCountry"></slot>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { map, geoJson, tileLayer } from "leaflet";
import MapData from "./../../../services/map-data";

let mapFeatures = {};

export default {
  data() {
    return {
      hoverCountry: null,
      hoverCountryX: 0,
      hoverCountryY: 0,
      statesData: null
    };
  },
  props: {
    focusedCountry: {
      type: Object,
      default: () => null
    },
    getFeatureStyle: {
      type: Function,
      required: true
    },
    countries: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    focusToCountry(country) {
      this.map.fitBounds(mapFeatures[country.id].getBounds(), {
        animate: true
      });
    },
    resetHighlight(e) {
      const layer = e.target;
      this.statesLayer.resetStyle(layer);
      this.hoverCountry = null;
    },
    highlightFeature(e, feature) {
      this.hoverCountry = feature;
    },
    onEachFeature(feature, layer) {
      mapFeatures[feature.properties.iso_a3] = layer;
      layer.on({
        mouseover: e => this.highlightFeature(e, feature),
        mouseout: this.resetHighlight,
        mousemove: e => {
          this.hoverCountryX = e.containerPoint.x + 10;
          this.hoverCountryY = e.containerPoint.y + 10;
        }
        //click: e => this.zoomToFeature(e, feature)
      });
    },
    redrawCountriesLayer() {
      if (this.statesLayer) {
        this.statesLayer.remove();
      }
      this.statesLayer = geoJson(this.statesData, {
        style: this.getFeatureStyle,
        onEachFeature: this.onEachFeature
      }).addTo(this.map);
      if (this.focusedCountry) {
        this.focusToCountry(this.focusedCountry);
      } else {
        this.map.fitBounds(this.statesLayer.getBounds());
      }
    }
  },
  destroyed() {
    mapFeatures = {};
  },
  watch: {
    countries(nv) {
      this.redrawCountriesLayer();
    }
  },
  async mounted() {
    this.statesData = await MapData.get();
    this.map = map(this.$refs.mapel, {}).setView([51.505, -0.09], 8);
    tileLayer(
      "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
      {
        maxZoom: 18,
        attribution:
          'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
          '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: "mapbox.light",
        noWrap: true
      }
    ).addTo(this.map);
    this.redrawCountriesLayer();
  }
};
</script>
<style scoped lang="scss">
.map {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 64px);
}
.country-hover-popup {
  z-index: 900;
  position: absolute;
}
</style>
