<template>
  <div class="legend">
    <v-card>
      <v-card-text class="items">
        <div v-if="Object.keys(plants).length && plant.length > 1">
          Comparing {{ plant.length }} plants
        </div>
        <v-card
          style="margin-top: .5rem;"
          max-width="350px"
          :key="`item_${idx}`"
          outlined
          v-for="(item, idx) in plant"
          @mouseenter="markCountries(idx)"
          @mouseleave="unmarkCountries()"
        >
          <v-img
            v-if="
              plants[item.PlantId].Images &&
                plants[item.PlantId].Images.length > 0
            "
            :src="plants[item.PlantId].Images[0].url"
            height="150px"
          ></v-img>
          <v-img
            v-if="
              !plants[item.PlantId].Images ||
                !plants[item.PlantId].Images.length
            "
            src="/preview.jpg"
            height="150px"
          ></v-img>
          <v-card-text>
            <div class="item" style="display: flex; flex-direction: row;">
              <div
                style="display: flex; flex-direction: column;margin-bottom: .5rem;"
              >
                <div>
                  Selected plant: <b>{{ item.taxon }}</b>
                </div>
                <div>
                  Family: <b>{{ item.Family.name }}</b>
                </div>
                <div
                  v-if="
                    plants[item.PlantId].name_cze ||
                      plants[item.PlantId].name_svk
                  "
                >
                  Other names: <br />
                  <ul>
                    <li v-if="plants[item.PlantId].name_cze">
                      <span style="text-transform: capitalize;">{{
                        plants[item.PlantId].name_cze
                      }}</span>
                      (Czech)
                    </li>
                    <li v-if="plants[item.PlantId].name_svk">
                      <span style="text-transform: capitalize;">{{
                        plants[item.PlantId].name_svk
                      }}</span>
                      (Slovak)
                    </li>
                  </ul>
                </div>
                <div>
                  Found in {{ item.Countries.length }}
                  {{ `countr${item.Countries.length === 1 ? "y" : "ies"}` }}:
                </div>
                <div class="countries-list">
                  <span
                    :key="`country_${country.id}`"
                    v-for="country in item.Countries"
                    ><v-btn
                      @click="() => setAndFocusCountry(country)"
                      x-small
                      outlined
                      >{{ country.name }}</v-btn
                    ></span
                  >
                </div>
              </div>
            </div>
          </v-card-text>
        </v-card>
        <div
          style="display: flex; width: 100%; justify-content: space-between;margin-top: 1rem;"
        >
          <div style="flex: 1;"></div>
          <v-btn small text @click="close">close</v-btn>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import Plant from "./../../../services/plant";
export default {
  data() {
    return {
      plants: {}
      // images: {}
    };
  },
  props: {
    plant: {
      type: Array
    }
  },
  methods: {
    markCountries(plantIdx) {
      this.$emit("mark-countries", {
        countries: this.plant[plantIdx].Countries.map(item => item.id)
      });
    },
    unmarkCountries() {
      this.$emit("unmark-countries");
    },
    close() {
      this.$emit("close");
    },
    setAndFocusCountry(country) {
      this.$emit("selectcountry", country);
    },
    async refreshImages(plants) {
      // let images = {};
      let plantsData = {};
      for (let i = 0; i < plants.length; i++) {
        let plantInfo = await Plant.getById(plants[i].PlantId);
        plantsData[plants[i].PlantId] = plantInfo;
        // if (plantInfo.Images && plantInfo.Images.length > 0) {
        //   images[plants[i].PlantId] = plantInfo.Images[0];
        // }
      }
      // this.images = images;
      this.plants = plantsData;
    }
  },
  mounted() {
    this.refreshImages(this.plant);
  },
  watch: {
    async plant(newVal) {
      this.refreshImages(newVal);
    }
  }
};
</script>
<style lang="scss" scoped>
@import "legend";
</style>
