<template>
  <v-list-item two-line @click="select">
    <v-list-item-content>
      <v-list-item-title
        ><text-highlight
          :queries="[search]"
          :caseSensitive="false"
          :diacriticsSensitive="false"
          >{{ item.name }}</text-highlight
        ></v-list-item-title
      >
    </v-list-item-content>
  </v-list-item>
</template>
<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => null,
      required: true
    },
    search: {
      type: String
    }
  },
  methods: {
    select() {
      this.$emit("select", this.item);
    }
  }
};
</script>
