<template>
  <v-list-item two-line @click="select">
    <v-list-item-content>
      <v-list-item-title>
        <diV style="display: flex; align-items: center;">
          <text-highlight
            :queries="[search]"
            :caseSensitive="false"
            :diacriticsSensitive="false"
            >{{ item.name }}
          </text-highlight>
          <div
            v-if="item.type === 'plant_name' && item.language !== 'lat'"
            style="margin-left: .5rem; font-size: .9rem; color: gray;"
          >
            <span v-if="item.language === 'cze'">(Czech name)</span>
            <span v-if="item.language === 'svk'">(Slovak name)</span>
          </div>
        </diV>
        <div
          v-if="item.type === 'plant_name' && item.language !== 'lat'"
          style="font-size: .9rem; color: gray; font-style: italic;margin-top:.1rem;"
        >
          <span>{{ item.taxon }}</span>
        </div>
      </v-list-item-title>
      <v-list-item-subtitle style="margin-top: .5rem;">{{
        item.Family.name
      }}</v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action-text
      >{{
        `Found in ${item.Countries.length} countr${
          item.Countries.length === 1 ? "y" : "ies"
        }`
      }}
      <v-btn
        @click="compare"
        v-if="plant && !inComaprsion(item.PlantId)"
        title="Compare with selected plant"
        icon
      >
        <v-icon>mdi-compare</v-icon>
      </v-btn>
    </v-list-item-action-text>
  </v-list-item>
</template>
<script>
import TextHighlight from "vue-text-highlight";
import { mapGetters } from "vuex";

export default {
  components: {
    TextHighlight
  },
  computed: {
    ...mapGetters({ plant: "plant/plant" })
  },
  props: {
    item: {
      type: Object,
      default: () => null,
      required: true
    },
    search: {
      type: String
    }
  },
  methods: {
    inComaprsion(plantId) {
      for (let i = 0; i < this.plant.length; i++) {
        if (plantId === this.plant[i].PlantId) {
          return true;
        }
      }
      return false;
    },
    compare() {
      this.$emit("select", this.plant.concat([this.item]));
    },
    select() {
      //TODO: move array enclosure to the parrent
      this.$emit("select", [this.item]);
    }
  }
};
</script>
